@font-face {
  font-family: 'sf_archery_blackregular';
  src: url("../fonts/SF_Archery_Black-webfont.eot");
  src: url("../fonts/SF_Archery_Black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/SF_Archery_Black-webfont.woff") format("woff"), url("../fonts/SF_Archery_Black-webfont.ttf") format("truetype"), url("../fonts/SF_Archery_Black-webfont.svg#sf_archery_blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  font: 14px 'Open Sans', sans-serif;
  background-color: #97989b;
  padding: 0;
  margin: 0; }

h1, h2, h3 {
  text-transform: uppercase; }

h1, h2 {
  font-family: 'sf_archery_blackregular', Helvetica, sans-serif; }

h2 {
  font-size: 2.5rem;
  margin-bottom: 0; }

h3 {
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin-bottom: 0; }

h1 {
  text-align: right;
  color: #FFFFFF;
  font-size: 3rem;
  margin-top: 5rem;
  margin: 5rem 2rem 0 0;
  letter-spacing: 5px;
  position: relative;
  z-index: 3; }
  h1 > * {
    display: inline-block;
    position: absolute;
    right: 0; }

a {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s; }
  a:hover {
    text-decoration: none;
    color: #97989b; }

.logo {
  height: 80px;
  width: 60px;
  background: url("../img/monogram.png") no-repeat;
  background-size: 60px 80px;
  display: inline-block; }
  .logo:hover {
    text-decoration: none;
    border-bottom: none; }

.logo-container {
  margin: 2px;
  display: inline-block; }

.hamburger {
  display: none;
  position: absolute;
  right: 15px;
  top: 15px;
  height: 84px;
  width: 60px; }
  .hamburger:hover {
    cursor: pointer; }
  .hamburger .line {
    display: block;
    margin-bottom: 5px;
    border-bottom: 8px solid #a17b24;
    height: 5px;
    width: 60px; }

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 84px;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 1px 1px 10px 0px rgba(100, 100, 100, 0.75);
  -moz-box-shadow: 1px 1px 10px 0px rgba(100, 100, 100, 0.75);
  box-shadow: 1px 1px 10px 0px rgba(100, 100, 100, 0.75);
  background-color: #FFFFFF;
  z-index: 5; }
  nav li {
    list-style: none;
    display: inline-block;
    height: 80px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  nav .nav-list {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    margin-right: 10px;
    padding: 0; }
    nav .nav-list li {
      width: 150px; }
  nav a {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding-top: 22px;
    border: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-family: 'sf_archery_blackregular', Helvetica, sans-serif;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-align: center;
    color: #a17b24; }
    nav a:hover, nav a.active {
      text-decoration: none;
      color: #000000; }
  nav .where-svg,
  nav .when-svg,
  nav .registries-svg {
    position: relative; }
  nav .where-svg {
    top: 4px; }
  nav .when-svg {
    top: 1px; }
  nav .registries-svg {
    top: 3px; }

.name-divider {
  top: 10.2rem;
  right: 6.5rem;
  z-index: 1;
  background-color: #a17b24; }
  .name-divider:after, .name-divider:before {
    content: "-";
    display: inline-block;
    -webkit-transform: scale(2, 0.3);
    -moz-transform: scale(2, 0.3);
    transform: scale(2, 0.3); }
  .name-divider:after {
    margin-left: 10px; }
  .name-divider:before {
    margin-right: 4px; }

.name {
  font-size: 8rem;
  padding: 20px 30px;
  background-color: #a17b24; }
  .name.first {
    right: 5rem; }
  .name.last {
    top: 12rem; }

.date {
  color: #FFFFFF;
  background-color: #000000;
  padding: 5px 20px;
  font-family: 'sf_archery_blackregular', Helvetica, sans-serif;
  top: 24.1rem;
  right: 5rem;
  font-size: 1.2rem; }

.date-seperator {
  display: inline-block;
  position: relative;
  bottom: 5px; }

.container {
  margin: 84px auto 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.night-sky {
  z-index: 1;
  overflow: hidden;
  height: 500px;
  position: relative; }

.frame {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 4;
  position: relative; }

.us {
  background: url("../img/kurt_kyle.png") no-repeat left bottom;
  background-size: cover;
  height: 650px; }

.where {
  background-image: -webkit-gradient(linear, bottom, top, from(#a17b24), to(#c29e49));
  background-image: -webkit-linear-gradient(bottom, #a17b24, #c29e49);
  background-image: -moz-linear-gradient(bottom, #a17b24, #c29e49);
  background-image: linear-gradient(to right, #a17b24, #c29e49);
  color: #000000;
  font-size: 1rem; }
  .where h2, .where h3 {
    color: #000000; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  max-width: 940px;
  margin: auto; }

.column {
  padding: 10px;
  width: 50%;
  min-width: 300px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -ms-flex-order: 1;
  -webkit-order: 1;
  order: 1; }
  .column.wythe {
    background: url("../img/wythe.png") no-repeat bottom right;
    background-size: contain;
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

.when {
  text-transform: uppercase;
  color: #ffffff;
  position: relative; }
  .when h2 {
    color: #ffffff; }
  .when .flex {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%; }
  .when .column {
    margin-top: 200px; }

.when-content {
  z-index: 1;
  position: relative; }
  .when-content h2 {
    margin: 0; }
  .when-content .important {
    font-family: 'sf_archery_blackregular', Helvetica, sans-serif;
    font-size: 1.5rem;
    margin: 0;
    text-transform: uppercase; }
  .when-content .absolute-wrapper {
    position: absolute;
    right: 15px; }

.when-countdown {
  font-family: 'sf_archery_blackregular', Helvetica, sans-serif;
  font-size: 1.5rem;
  z-index: 1; }
  .when-countdown .days, .when-countdown .hours {
    margin: 0;
    font-size: 3rem; }

.skyline {
  height: 200px;
  width: 100%;
  background: url("../img/skyline.png") left bottom;
  background-repeat: repeat-x;
  background-size: contain;
  margin: 0; }

.registries {
  background-image: -webkit-gradient(linear, bottom, top, from(#a17b24), to(#c29e49));
  background-image: -webkit-linear-gradient(bottom, #a17b24, #c29e49);
  background-image: -moz-linear-gradient(bottom, #a17b24, #c29e49);
  background-image: linear-gradient(to right, #a17b24, #c29e49); }
  .registries h2 {
    color: #ffffff; }

.registry-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 940px;
  padding: 0;
  margin: 30px auto; }
  .registry-list li {
    list-style: none;
    display: inline-block;
    width: 32%;
    text-align: center; }
  .registry-list img {
    max-width: 75%;
    vertical-align: middle; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

.hide {
  display: none; }

.txt-center {
  text-align: center; }

@media (min-width: 940px) {
  .when .flex {
    left: calc((100% - 940px) / 2); } }
@media (max-device-width: 650px), (max-width: 650px) {
  .intro {
    margin-bottom: -100px; } }
@media (max-device-width: 420px), (max-width: 700px) {
  h1 {
    margin-top: 1rem; }

  .hamburger {
    display: block; }

  nav .nav-list {
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    top: 84px;
    margin-right: 0;
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s; }
    nav .nav-list li {
      border-top: 1px solid #97989b;
      display: block;
      width: 100%; }
    nav .nav-list.active {
      height: 245px; }

  .us {
    height: 700px;
    background-position-x: -100px; }

  .name {
    font-size: 5rem; }
    .name.last {
      top: 8rem;
      right: 2rem; }

  .date {
    top: 16.5rem;
    font-size: 0.9rem;
    padding: 5px 10px; }

  .name-divider {
    font-size: 2rem;
    top: 7.1rem; }

  .column {
    width: 100%; }
    .column.wythe {
      margin-top: -120px;
      height: 500px; }

  .when .column {
    text-align: center;
    margin-top: 200px; }
    .when .column .absolute-wrapper {
      position: static; }

  .when-content {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -ms-flex-order: 1;
    -webkit-order: 1;
    order: 1; }

  .when-countdown {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    -ms-flex-order: 2;
    -webkit-order: 2;
    order: 2; }

  .registry-list li {
    display: block;
    width: 100%;
    margin-bottom: 30px; }
    .registry-list li img {
      max-width: 30%; }

  .skyline {
    margin-top: -100px; } }

/*# sourceMappingURL=main.css.map */
